# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.DS_Store
*.xcodeproj
les1/Les1-GR2021/Les1_GR2021/Les1_GR2021/sansation.ttf
les1/Les1-GR2021/Les1_GR2021/Les1_GR2021/nice_music.ogg
les1/Les1-GR2021/Les1_GR2021/Les1_GR2021/icon.png
les1/Les1-GR2021/Les1_GR2021/Les1_GR2021/cute_image.jpg
les1/Les1_GR2021/Les1_GR2021/nice_music.ogg
les1/Les1_GR2021/Les1_GR2021/sansation.ttf
les1/Les1_GR2021/Les1_GR2021/icon.png
les1/Les1_GR2021/Les1_GR2021/cute_image.jpg
